html{
    scroll-behavior: smooth;
}

body{
    margin-top: 10px;
    transition-property: all;
}

.container1{
    width: 100%;
    height:100%;
}
.navbar{
    display: flex;
}
.nav-image{
    left:10%;
}

.navbar ul{
    top:10px;
    text-decoration: none;
}

.nav .nav-item{
    font-size: 25px;
    color: thistle;
}
.nav-item a{
    color: white;
}
.nav-item a:hover{
    animation-name:nav;
    animation-duration:2s;
}
@keyframes nav{
    0%{text-decoration: none;}
    50%{text-decoration: underline;}
    100%{text-decoration: underline;transform: rotateY(180deg);}
}

.heading{
    font-family: 'Gill Sans', 'Gill Sans MT', Calibri, 'Trebuchet MS', sans-serif;
    font-weight: 200px;
    text-align: center;
    padding-top: 30px;
    padding-bottom: 230px;
    background-image: linear-gradient(rgba(5, 0, 0, 0.8),rgba(0, 0, 0, 0.8)),url(../images/lap.png);
    background-attachment: fixed;        
    
}

.heading h1{
    color: white;
    line-height: 0%;
    font-size: 70px;
    margin-bottom: 0%;
    position:relative;
    animation-name: animationhead;
    animation-duration: 3s;
    animation-fill-mode: forwards;
}
@keyframes animationhead{
    0%{top:-50px;}
    100%{top:170px;}
}
.heading h6{
    color: orange;
    line-height:50%;
    opacity:0;
    position: relative;
    margin-top: 210px;
    animation-name: underline;
    animation-duration: 3s;
    animation-delay:2s;
    animation-fill-mode: forwards;
}
@keyframes underline{
    0%{left:-1000px;}
    100%{left:0; opacity: 1;}
}
.image{
   
    float:left;
    margin-right: 0%;
    padding-top: -30px;
    opacity:0;
    position: relative;
    animation-name: img;
    animation-duration: 7s;
    animation-delay: 7s;
    animation-fill-mode: forwards;
}
@keyframes img{
    0%{opacity:0;}
    100%{opacity:2;}
}
.image:hover{
    transform: rotateY(180deg);
    opacity: 4;
}
.text{
    float: right;
    width:30%;
    background-image: linear-gradient( rgba(91, 179, 195, 0.418), rgba(119, 117, 3, 0.2) 100%),url(../images/lap.png);
    background-attachment: fixed;        
    border-style: ridge;
    border-radius: 3px;
    margin-top: 80px;
    color:black;
    font-size: 25px;
    font-family:Arial, Helvetica, sans-serif;
    position:relative;
    opacity: 0;
    text-align: center;
    animation-name: txt;
    animation-duration: 5s;
    animation-delay: 6s;
    animation-fill-mode: forwards;
       
}
@keyframes txt{
    0%{right:-50%;}
    50%{border-radius: 50% 50% 0% 0%;}
    100%{border-radius:50% 50% 45% 45%;right:25%;opacity: 1;}
}

.text h2{
    font-family: cursive;
    color: rgb(46, 1, 1);
    text-decoration:underline;
    margin-bottom: 5px;
    padding-top: 70px;
}

.text p{
    color:rgb(5, 17, 16);
    font-family: 'Times New Roman', Times, serif;
    text-align:center;
    font-size: 20px;
    line-height: 120%;
    margin-top: 5px;
    padding-bottom: 120px;
}

#servicetitle{
    margin-top: 620px;
}
.title h1{
    margin:auto;
    text-align:center;
    font-size: 60px;
}

.title a span:first-child{
    display: inline-block;
    padding-left:40%;
}
.title a {
    display: block;
    overflow: hidden;
    position: relative;
  }
  .title li{
      list-style-type: none;
  }
   
  .title a span:last-child {
    position: absolute;
    padding-left: 45%;
    top: 0;
    right: 0;
    bottom: 0;
    left: 0;
    align-items: center;
    justify-content: center;
    transform: translateY(-100%);
  }

.title a span {
    transition: transform 0.2s ease-out;
  }
   
  .title a:hover span:first-child {
    transform: translateY(100%);
  }

  .title a:hover span:last-child {
    transform: none;
  }
   
#services{
    margin-top: 60px;
    padding-left: 100px;
}

.column{
    width: 30%;
    float: left;
    padding:0px 10px;
}

.raw::after{
    content: "";
    display: table;
    clear:both;
}

@media screen and(max-width:600px){
    .column{
        width: 100%;
        display: block;
        margin-bottom: 20px;
    }
}
.card{
    box-shadow: 0px 4px 8px rgba(5, 0, 0, 0.2);
    max-width: 300px;
    margin: auto;
    background-color: white;
    text-align: center;
    border-radius: 40px;
    padding-bottom: 15px;
    margin-bottom: 70px;
}

.card:hover{
   transform: rotateZ(340deg);
}

.card img{
    margin-top:30px;
    margin-bottom: 20px;
    margin-left: 35%;
    width: 80px;
    border-style:ridge;
    border-radius: 50px 50px 50px 50px;
    border-color: royalblue;
    border-width: 6px;
    border-spacing: 4px;
    padding:14px;
}
.card p{
    padding-top: 20px;
    font-size: 20px;
}

.card h3{
    text-align: center;
    border-bottom:2px solid blue;
    width:60%;
}
#ow{
    margin: auto;
    margin-left:80px;
    margin-right:80px;
    font-size: 50px;
    text-align: center;
    color:crimson;
    font-family:cursive;
}
#ow hr{
    margin: auto;
    width:10%;
    border: 4px solid greenyellow;
}

#ow:hover{
    border-radius: 50px 50px;
    background-color: rgb(190, 229, 195);
}

#ourwork{
    margin: 40px 40px;
    margin-left:80px;
    margin-right:80px;
    background-color: rgb(136, 200, 202);
    box-shadow: 0px 4px 8px rgba(5, 0, 0, 0.2);
    padding:30px;
    border-radius: 30px;
}
 .div1 p{
     padding-top: 40px;
     float: right;
     width:70%;
     color:white;
     font-size: 20px;
     font-family: cursive;
     text-align: right;
     padding:40px
}

.div2 p{
    padding: 40px;
    float:left;
    width: 70%;
    color:white;
    font-size: 20px;
    font-family: cursive;
    text-align: right;

}

.div3 p{
    float:right;
    width: 70%;
    color:white;
    font-size: 20px;
    font-family: cursive;
    text-align: right;
    padding:40px;

}

.div4 p{
    float:left;
    width: 70%;
    color:white;
    font-size: 20px;
    font-family: cursive;
    text-align: right;
    padding:40px;

}

.footer{
    background-image: linear-gradient(rgb(174, 238, 174),rgba(0, 0, 0, 0.2)100%),url(../images/lap.png);
    margin: 40px 40px;
    margin-left: 80px;
    margin-right: 80px;
    padding: 40px;
    padding-bottom: 30px;
    border-radius: 50px 50px;
}
.footer h5{
    position: relative;
font-family: cursive;
font-size: 30px;
color: maroon;
}

.footer hr{
    border:3px solid maroon;
}

.footer form{
    padding-left: 90px;
    padding-right: 90px;
}

footer{
    
    position: relative;
    bottom: 0px;
    width:100%;
    background-color: rgb(102, 98, 98);
    color:white;
}

.main-content{
    display:flex;
    padding: auto;
}

.main-content .box{
    flex-basis: 50%;
    padding:10px 20px;
}

.box h2{
    font-size: 1.123rem;
    font-weight: 600;
    text-transform: uppercase;
}

.box .content{
    margin: 20px 0px 0px 0px;
}
